<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
  <meta name="package-mapping" content="com_haulmont_testtask_view:com.haulmont.testtask.view">
  <meta name="package-mapping" content="com_haulmont_testtask_view_design:com.haulmont.testtask.view.design">
 </head>
 <body>
  <vaadin-vertical-layout style-name="crud-template" spacing="false" responsive height="367px" margin="false">
   <vaadin-css-layout style-name="content" size-full :expand>
    <vaadin-css-layout style-name="list" width-full height="317px">
     <vaadin-grid caption="Doctors" width-full height="240px" data-item-type="com.haulmont.testtask.model.Doctor" _id="grid">
      <table>
       <colgroup>
        <col column-id="id" sortable>
        <col column-id="lastname" sortable>
        <col column-id="firstname" sortable>
        <col column-id="middlename" sortable>
        <col column-id="spec" sortable>
       </colgroup>
       <thead>
        <tr default>
         <th plain-text column-ids="id">Id</th>
         <th plain-text column-ids="lastname">Lastname</th>
         <th plain-text column-ids="firstname">Firstname</th>
         <th plain-text column-ids="middlename">Middlename</th>
         <th plain-text column-ids="spec">Spec</th>
        </tr>
       </thead>
       <tbody></tbody>
      </table>
     </vaadin-grid>
     <vaadin-horizontal-layout style-name="buttons border-top" width-full height="48px">
      <vaadin-button style-name="small" plain-text _id="back" :middle :center>
        Back 
      </vaadin-button>
      <vaadin-button style-name="small" plain-text _id="stat" :middle :right :expand>
        Statistics 
      </vaadin-button>
      <vaadin-button style-name="small friendly" responsive width="102px" plain-text _id="add" :middle :center>
        Add doctor 
      </vaadin-button>
      <vaadin-button style-name="small primary" plain-text _id="update" :middle :center>
        Update 
      </vaadin-button>
      <vaadin-button style-name="small danger" plain-text _id="delete" :middle :right>
        Delete 
      </vaadin-button>
     </vaadin-horizontal-layout>
    </vaadin-css-layout>
   </vaadin-css-layout>
  </vaadin-vertical-layout>
 </body>
</html>